@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #16161a;
    box-sizing: border-box;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #16161a;
    z-index: 99;
    border-bottom: 2px solid #242629;
    position: relative;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* gap: 20px; */
    width: 30%;
}

nav a {
    color: #fffffe;
    text-decoration: none;
}

.nav-title a {
    font-size: 25px;
    font-weight: 600;
    color: #94a1b2;
}

.nav-title a span {
    color: white;
}

nav ul a {
    font-size: 0.9rem;
    font-weight: 500;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    top: -3px;
    left: -5px;
    opacity: 0;
    z-index: 9999;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.795);
    transition: 0.5s;
    z-index: 999;
}

/* last navbar */

/* header */
.header {
    /* margin-bottom: 200px; */
    color: #fffffe;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 1, 4, 0.7)),
        url(img/bg-texture.png);
    background-position: center;
    background-size: cover;
    gap: 16em;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    border-radius: 50%;
    margin-top: -4rem;
}

.header-content {
    /* width: 400px; */
    margin-bottom: 80px;
}

.header-content p {
    width: 430px;
}

.header-content span {
    color: #94a1b2;
}

.header-content h1 {
    font-size: 2.5rem;
}

.header-content h3 {
    font-size: 1.1rem;
}

.header-content h1 span,
.header-content h3 span {
    color: #94a1b2;
}

/* last header */

/* about */
.about {
    background-color: #242629;
    /* margin-bottom: 200px; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.about img {
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    border-radius: 50%;
}

.about-content h1,
h2 {
    margin-bottom: 10px;
}

.about-content {
    color: #fffffe;
    width: 50%;
}

.about-content span {
    color: #94a1b2;
}

#download-cv{
    background-color: #0047AB;
}

.hire-me,.download-cv {
    padding: 12px;
    background-color: #0047AB;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    transition:.3s;
    cursor: pointer;
}

.hire-me:hover, #download-cv:hover{
    background-color: #1a2e6d;
}

.hire-me a, .download-cv a {
    color: #fffffe;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

/* last about */

/* skills */

.skills{
  margin-bottom: 0;
}

.skills-title,
.projects-title {
    color: #fffffe;
    position: absolute;
    top: 100px;
    left: 100px;
    padding: 5px;
    border-left: 7px solid #94a1b2;
}

.skill-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: #fffffe;
    font-weight: 500;
    width: 250px;
    height: 300px;
    border-radius: 30px;
    background: #212121;
    transition: 0.5s;
}

.skill-card:hover {
    cursor: pointer;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    background-color: #2a2a2a;
}
/* last skills */

/* project */
.projects{
  margin-top: 100px;
}

.projects-grid {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px; 
    justify-content: center; 
    align-items: center;
    padding: 20px; 

    @media only screen and (max-width: 768px) {
        grid-template-columns: 1fr; 
    }
}

.project-card {
    position: relative;
    width: 400px;
    aspect-ratio: 16/9;
    background-color: #f2f2f2be;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: scroll;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #94a1b2;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    @media only screen and (max-width: 768px) {
        width: 300px; 
    }
}



*/ .project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.project-card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: #f2f2f2; */
    opacity: 0;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-card:hover .project-card__content {
    /* transform: rotateX(0deg); */
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.565);
}

.project-card__title {
    margin: 0;
    font-size: 20px;
    color: #ffff;
    font-weight: 700;
}

.project-card__description {
    margin: 10px 0 10px;
    font-size: 12px;
    color: #ffff;
    line-height: 1.4;
}

/* last project */

/* contact */
.contact, .skills, .projects {
    width: 100%;
    color: #fffffe;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
    position: relative;
}

.row-contact {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.row-contact:hover {
    cursor: pointer;
    box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    background-color: #2a2a2a;
}

.contact-title {
    position: absolute;
    top: 50px;
    font-size: 3rem;
    border-left: 7px solid #94a1b2;
    padding: 10px;
}

.contact-title span {
    color: #94a1b2;
}

.contact a{
  text-decoration: none;
  color: #fff;
}

/* last contact */

footer {
    border-top: 1px solid #94a1b2;
    padding: 60px;
    color: #fffffe;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-evenly;
}

.fa-instagram:hover {
    background: #e1306c;
    color: #f2f2f2;
    transform: scale(1.1);
}

.fa-github:hover {
    background: #000;
    color: #ffff;
    transform: scale(1.1);
}

.fa-linkedin-in:hover {
    background: #0072b1;
    color: #f2f2f2;
    transform: scale(1.1);
}

.fa-instagram,
.fa-github,
.fa-linkedin-in {
    border-radius: 50%;
    padding: 10px;
    width: 25px;
    height: 25px;
    transition: 0.3s;
    color: #94a1b2;
}

/* Button up */
#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 2px solid #0047AB;
    outline: none;
    background-color: #0047AB;
    color: white;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    transition: 0.5s;
}

#myBtn:hover {
    background-color: transparent;
    color: #f2f2f2;
    border: 2px solid#0047AB;
}

@media (max-width: 768px) {
    #myBtn {
        font-size: 14px;
    }
}

/* responsive media query */

/* ukuran tablet */

@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
    .project-card img{
        width: 180px;
    }

     #shanrise,#github{
        width: 120px;
    }
}
/* ukuran mobile */

@media screen and (max-width: 576px) {
    nav ul {
        position: absolute;
        top: -110%;
        flex-direction: column;
        background-color: #131313;
        justify-content: space-evenly;
        z-index: -1;
        width: 100%;
        transition: all 0.8s;
        opacity: 0;
        padding-left: 50px;
        height: 50px;
        color: #131313;
    }

    .menu-toggle {
        display: flex;
    }

    .typewriter h1 {
        font-size: 2rem;
    }

    .header {
        margin:0;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }

    .header-content {
        margin-left: 25px;
        margin-bottom: 0;
    }

    .header-content p{
        width: 90%;
    }

    .header img {
        width: 60%;
        position: static;
    }

    .about {
        flex-direction: column;
        justify-content:center;
        padding-bottom:100px ;
        gap: 3rem;
    }

    .about-content{
        width: 80%;
    }

    .about img {
        margin-top: 100px;
        width: 55%;
    }

    .skills {
        flex-direction: column;
        margin-bottom: 0;
        height: auto;
        padding-bottom: 50px;
    }

    .skills-title {
        top: 50px;
        left: 50px;
    }

    .skills h1 {
        position: static;
        margin-bottom: 50px;
    }

    .projects-grid{
      margin-top: 0;
    }

    .contact, .skills, .projects {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-bottom: 100px;
    }

    .contact-title {
        position: static;
        margin: 50px 0;
        font-size: 2rem;
    }
    nav ul.slide {
        top: 105%;
        height: 300px;
        opacity: 1;
        background-color: #2e2d31;
    }

    footer {
        padding: 50px;
    }

    .footer-title {
        font-size: 0.6rem;
    }

    footer ul {
        width: 50%;
    }

    footer ul li i {
        font-size: 0.5rem;
    }
}

/* last responsive media query */
